<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="spring.mvc.uuplex.admin.dao.BoardNoticeDAO"> 

	<select id="getCount" resultType="int">
		SELECT count(*) FROM notice_board
	</select>
	
	<select id="getSubCount" parameterType="int" resultType="int">
		SELECT count(*) FROM notice_board WHERE shopCode = #{shopCode}
	</select>

	<select id="getArticles" parameterType="Map" resultType="spring.mvc.uuplex.admin.dto.BoardNoticeDTO">
		SELECT * FROM (SELECT shopCode, notiNum, memId, notiPasswd, subject, content, readCnt, 
						      ref, ref_step, ref_level, noti_date, ip, important, rownum rnum
						FROM ( SELECT * FROM notice_board
							   ORDER BY ref DESC, ref_step ASC )
					  )
				WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	
	<select id="getArticlesSub" parameterType="Map" resultType="spring.mvc.uuplex.admin.dto.BoardNoticeDTO">
		SELECT * FROM (SELECT shopCode, notiNum, memId, notiPasswd, subject, content, readCnt, 
						      ref, ref_step, ref_level, noti_date, ip, important, rownum rnum
						FROM ( SELECT * FROM notice_board WHERE shopCode = #{shopCode}
							   ORDER BY ref DESC, ref_step ASC )
					  )
				WHERE rnum &gt;= #{start} AND rnum &lt;= #{end}
	</select>
	
	
	<insert id="NoticeInsert" parameterType="spring.mvc.uuplex.admin.dto.BoardNoticeDTO">
		INSERT INTO notice_board(shopCode, notiNum, memId, notiPasswd, subject, content, readCnt, ref, ref_step, ref_level, noti_date, ip, important)
					VALUES(#{shopCode}, qna_seq.NEXTVAL, #{memId}, #{notiPasswd}, #{subject}, #{content}, 0, #{ref}, #{ref_step}, #{ref_level}, #{noti_date}, #{ip}, #{important})
	</insert>
	
	<select id="getNotice" parameterType="int" resultType="spring.mvc.uuplex.admin.dto.BoardNoticeDTO">
		SELECT * FROM notice_board WHERE notiNum= #{num}
	</select>
	
	<select id="getMaxNum" resultType="int">
		SELECT MAX(notiNum) FROM notice_board
	</select>
	
	<select id="pwdChk" parameterType="int" resultType="String">
		SELECT notiPasswd FROM notice_board WHERE notiNum= #{num}
	</select>
	
	<delete id="delNotice" parameterType="int">
		DELETE FROM notice_board WHERE notiNum= #{num}
	</delete>

</mapper>
    