<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 피트니스 프로그램 관련 -->
<mapper namespace="spring.mvc.uuplex.fitness.dao.FProgramDAO" >

	<!-- 피트니스 프로그램 목록 총 수 -->
	<select id="programCount" resultType="int">
		SELECT COUNT(*) FROM F_PROGRAM
	</select>
	
	<!-- 피트니스 프로그램 리스트 반환 -->
	<select id="programList" parameterType="Map" resultType="spring.mvc.uuplex.fitness.dto.FProgramDTO">
		SELECT *
		  FROM ( SELECT a.* , rownum AS rnum 
				   FROM ( SELECT p.pid, p.pname, p.activated, 
				   				 s.sname, 
				   				 t.tname
			  		     	FROM F_PROGRAM p
			  		       INNER JOIN F_SPORTS s
			  		          ON s.sid = p.sid
			  		       INNER JOIN F_TEACHER t
			  		          ON t.tid = p.tid
			  			   ORDER BY p.activated DESC, p.pid DESC) a )
		 WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 피트니스 프로그램 추가 -->
	<insert id="addProgram" parameterType="spring.mvc.uuplex.fitness.dto.FProgramDTO">
		INSERT INTO F_PROGRAM (pid, pname, pinfo, sid, tid, price, preparationCost, preparation)
		VALUES (SEQ_PROGRAM_PID.nextval, #{pname}, #{pinfo}, #{sid}, #{tid}, #{price}, #{preparationCost}, #{preparation})
	</insert>
	
	<!-- 프로그램 상세 정보 -->
	<select id="programDetail" resultType="spring.mvc.uuplex.fitness.dto.FProgramDTO" parameterType="int">
		SELECT p.*, 
			   (SELECT sname FROM F_SPORTS s WHERE s.sid=p.sid) AS sname, 
			   (SELECT tname FROM F_TEACHER t WHERE t.tid=p.tid) AS tname 
		 FROM F_PROGRAM p 
		WHERE pid=#{pid}
	</select>
	
	<!-- 종목 정보 수정 -->
	<update id="modifyProgram" parameterType="spring.mvc.uuplex.fitness.dto.FProgramDTO">
		UPDATE F_PROGRAM
		   SET pname = #{pname},
			   pinfo = #{pinfo},
			   activated = #{activated},
			   sid = #{sid},
			   tid = #{tid},
			   price = #{price},
			   preparationCost = #{preparationCost},
			   preparation = #{preparation}
		 WHERE pid = #{pid}
	</update>
	
	<!-- 피트니스 프로그램 리스트 반환 -->
	<select id="programActivatedList" resultType="spring.mvc.uuplex.fitness.dto.FProgramDTO">
	   SELECT *
  		 FROM F_PROGRAM
  		WHERE activated='Y'
  		ORDER BY sid
	</select>
	
	<!-- 피트니스 운영중인 종목 프로그램 리스트 반환 -->
	<select id="reservableList" parameterType="String" resultType="spring.mvc.uuplex.fitness.dto.FProgramDTO">
	   SELECT p.*, t.tname
  		 FROM F_PROGRAM p INNER JOIN F_TEACHER t
  		   ON p.tid = t.tid
  		WHERE p.activated='Y'
  		  AND p.sid = #{sid}
  		ORDER BY p.pname
	</select>
	
	
	<select id="pInfo" resultType="spring.mvc.uuplex.fitness.dto.FProgramDTO">
		SELECT *
		FROM F_PROGRAM p, F_SPORTS s, F_TEACHER t
    	WHERE p.sid = s.sid 
    	AND   p.tid = t.tid
     ORDER BY p.pid      	  
	</select>
</mapper>