<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 피트니스 종목 관련 -->
<mapper namespace="spring.mvc.uuplex.fitness.dao.FSportsDAO" >

	<!-- 피트니스 종목 목록 총 수 -->
	<select id="sportsCount" resultType="int">
		SELECT COUNT(*) FROM F_SPORTS
	</select>
	
	<!-- 피트니스 종목 목록 리스트 반환 -->
	<select id="sportsList" parameterType="Map" resultType="spring.mvc.uuplex.fitness.dto.FSportsDTO">
		SELECT *
		  FROM ( SELECT s.* , rownum AS rnum 
				   FROM ( SELECT * 
			  		     	FROM F_SPORTS 
			  			   ORDER BY sid DESC ) s )
		 WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 피트니스 종목 추가 -->
	<insert id="addSports" parameterType="spring.mvc.uuplex.fitness.dto.FSportsDTO">
		INSERT INTO F_SPORTS (sid, sname, sinfo)
		VALUES (SEQ_SPORTS_SID.nextval, #{sname}, #{sinfo})
	</insert>
	
	<select id="sportsDetail" parameterType="int" resultType="spring.mvc.uuplex.fitness.dto.FSportsDTO">
		SELECT *
		  FROM F_SPORTS
		 WHERE sid=#{sid}
	</select>
	
</mapper>