<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="spring.mvc.uuplex.admin.dao.AdminDAO"> 

	<!-- 아이디 중복확인 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE memId = #{memId}
	</select>

	<!-- 회원가입 -->
	<insert id="insert" parameterType="spring.mvc.uuplex.admin.dto.MemberDTO">
		INSERT INTO uu_member(idCode, memId, passwd, name, jumin1, jumin2, age, gender, address, phone, email, reg_date, grade)
		VALUES('105', #{memId}, #{passwd}, #{name}, #{jumin1}, #{jumin2}, #{age}, #{gender}, #{address}, #{phone}, #{email}, #{reg_date}, '일반회원')
	</insert>
	
	<!-- 로그인 -->
	<select id="pwdCheck" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE memId = #{memId} AND passwd = #{passwd}
	</select>
	
	<!-- 코드값 가져오기 -->
	<select id="idCode" parameterType="String" resultType="int">
		SELECT idCode FROM uu_member WHERE memId = #{memId}
	</select>
	
	<!-- 회원 리스트 가져오기 -->
	<select id="memberList" resultType="spring.mvc.uuplex.admin.dto.MemberDTO">
		SELECT * FROM uu_member WHERE idCode = '105' ORDER BY grade
	</select>
	
	<!-- 등급별 회원 리스트 가져오기 -->
	<select id="memberListSub" resultType="spring.mvc.uuplex.admin.dto.MemberDTO">
		SELECT * FROM uu_member WHERE idCode = '105' and grade = #{grade} ORDER BY reg_date
	</select>
	
	<!-- 회원 정보(1명) 가져오기 -->
	<select id="memberView" parameterType="String" resultType="spring.mvc.uuplex.admin.dto.MemberDTO">
		SELECT * FROM uu_member WHERE memId = #{memId}
	</select>
	
	<!-- 등업 시키기 -->
	<update id="upgrade" parameterType="Map">
		UPDATE uu_member SET grade = #{grade} WHERE memId = #{memId}
	</update>
	
	<!-- 회원정보 수정 -->
	<update id="memUpdate" parameterType="spring.mvc.uuplex.admin.dto.MemberDTO">
		UPDATE uu_member SET passwd = #{passwd}, name = #{name}, address = #{address}, phone = #{phone}, email = #{email} WHERE memId = #{memId}
	</update>
	
	<!-- 회원탈퇴 비밀번호 체크 -->
	<select id="deletepwdCheck" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE memId = #{memId} AND passwd = #{passwd}
	</select>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM uu_member WHERE memId = #{memId}
	</delete>
	
	<select id="reservlist_movie" resultType="spring.mvc.uuplex.admin.dto.MtestDTO">
		SELECT * FROM m_reserv
	</select>
	
	<select id="reservlist_hotel" resultType="spring.mvc.uuplex.admin.dto.HtestDTO">
		SELECT * FROM h_reserv
	</select>
	
	<select id="reservlist_fitness" resultType="spring.mvc.uuplex.fitness.dto.FStatementDTO">
		SELECT *
		  FROM ( SELECT a.* , rownum AS rnum 
				   FROM ( SELECT s.*,
				   				 c.subname,
				   				 p.pname,
				   				 t.tname
			  		     	FROM F_STATEMENT s 
			  		       INNER JOIN F_CLASS c
			  		          ON c.cid = s.cid
			  		       INNER JOIN F_PROGRAM p
			  		          ON p.pid = c.pid
			  		       INNER JOIN F_TEACHER t
			  		          ON t.tid = p.tid 
			  			   ORDER BY s.stid DESC) a )	  			   
	</select>
	
	<select id="reservlist_m_date" parameterType="Map" resultType="spring.mvc.uuplex.admin.dto.MtestDTO">
		SELECT * FROM m_reserv WHERE reserve_date BETWEEN #{date} AND #{curdate}
	</select>
	
	<select id="reservlist_h_date" parameterType="Map" resultType="spring.mvc.uuplex.admin.dto.HtestDTO">
		SELECT * FROM h_reserv WHERE reservDay BETWEEN #{date} AND #{curdate}
	</select>
	
	<select id="reservlist_f_date" parameterType="Map" resultType="spring.mvc.uuplex.fitness.dto.FStatementDTO">
		SELECT *
		  FROM ( SELECT a.* , rownum AS rnum 
				   FROM ( SELECT s.*,
				   				 c.subname, c.start_date,
				   				 p.pname,
				   				 t.tname
			  		     	FROM F_STATEMENT s 
			  		       INNER JOIN F_CLASS c
			  		          ON c.cid = s.cid
			  		       INNER JOIN F_PROGRAM p
			  		          ON p.pid = c.pid
			  		       INNER JOIN F_TEACHER t
			  		          ON t.tid = p.tid 
			  			   ORDER BY s.stid DESC) a )
		 WHERE reg_date BETWEEN #{date} AND #{curdate}	  			   
	</select>
	
	
	<select id="reservlist_m_id" resultType="spring.mvc.uuplex.admin.dto.MtestDTO">
		SELECT * FROM m_reserv WHERE memId = #{memId}
	</select>
	
	<select id="reservlist_h_id" resultType="spring.mvc.uuplex.admin.dto.HtestDTO">
		SELECT * FROM h_reserv WHERE memId = #{memId}
	</select>
	
	<select id="reservlist_f_id" resultType="spring.mvc.uuplex.fitness.dto.FStatementDTO">
		SELECT *
		  FROM ( SELECT a.* , rownum AS rnum 
				   FROM ( SELECT s.*,
				   				 c.subname, c.start_date,
				   				 p.pname,
				   				 t.tname
			  		     	FROM F_STATEMENT s 
			  		       INNER JOIN F_CLASS c
			  		          ON c.cid = s.cid
			  		       INNER JOIN F_PROGRAM p
			  		          ON p.pid = c.pid
			  		       INNER JOIN F_TEACHER t
			  		          ON t.tid = p.tid 
		 				   WHERE memid = #{memId}
			  			   ORDER BY s.stid DESC) a )
	</select>
	
	<select id="reservlist_m_id_date" parameterType="Map" resultType="spring.mvc.uuplex.admin.dto.MtestDTO">
		SELECT * FROM m_reserv WHERE reserve_date BETWEEN #{date} AND #{curdate} AND memId = #{memId}
	</select>
	
	<select id="reservlist_h_id_date" parameterType="Map" resultType="spring.mvc.uuplex.admin.dto.HtestDTO">
		SELECT * FROM h_reserv WHERE reservDay BETWEEN #{date} AND #{curdate} AND memId = #{memId}
	</select>
	
	<select id="reservlist_f_id_date" parameterType="Map" resultType="spring.mvc.uuplex.fitness.dto.FStatementDTO">
		SELECT *
		  FROM ( SELECT a.* , rownum AS rnum 
				   FROM ( SELECT s.*,
				   				 c.subname, c.start_date,
				   				 p.pname,
				   				 t.tname
			  		     	FROM F_STATEMENT s 
			  		       INNER JOIN F_CLASS c
			  		          ON c.cid = s.cid
			  		       INNER JOIN F_PROGRAM p
			  		          ON p.pid = c.pid
			  		       INNER JOIN F_TEACHER t
			  		          ON t.tid = p.tid 
		 				   WHERE memid = #{memId}
			  			   ORDER BY s.stid DESC) a )
		 WHERE reg_date BETWEEN #{date} AND #{curdate}	  			   
	</select>
	
	<select id="memberGenderWoman" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE gender = '여성'
	</select>
	
	<select id="memberGenderMan" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE gender = '남성'
	</select>
	
	<select id="gradeCount1" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE grade = '일반회원'
	</select>
	
	<select id="gradeCount2" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE grade = 'Green회원'
	</select>
	
	<select id="gradeCount3" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE grade = 'Gold회원'
	</select>
	
	<select id="gradeCount4" resultType="int">
		SELECT COUNT(*) FROM uu_member WHERE grade = 'Vip회원'
	</select>
	
	
	
	
	
</mapper>   