<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="spring.mvc.uuplex.hotel.dao.ReservDAO">
  <!-- 예약완료 -->
    <insert id="reservation" parameterType="spring.mvc.uuplex.hotel.dto.ReservDTO">
    	INSERT INTO h_reserv(reservNum, roomName, memId, shopCode, reservDay, checkIn, checkOut, day, capacity, extraBed, extraBedcnt,
    	 laundry, breakfast, firstName, lastName, country, card, cardNum, cardEndM, totCharge) 
    	VALUES(reservNum.nextval, #{roomName}, #{memId}, 102, sysdate, #{checkIn}, #{checkOut}, #{day}, #{capacity}, #{extraBed}, #{extraBedcnt},
    	 #{laundry}, #{breakfast}, #{firstName}, #{lastName}, #{country}, #{card}, #{cardNum}, #{cardEndM}, #{totCharge})
    </insert>
	
  <!-- 예약내역 -->
    <select id="reservList" parameterType="String" resultType="spring.mvc.uuplex.hotel.dto.ReservDTO">
		SELECT * FROM h_reserv WHERE memId = #{memId}
	</select>
	
  <!-- 예약내역상세 -->
    <select id="detail" parameterType="int" resultType="spring.mvc.uuplex.hotel.dto.ReservDTO">
		SELECT * FROM h_reserv WHERE reservNum = #{reservNum}
	</select>
</mapper>