<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="spring.mvc.uuplex.hotel.dao.ReservDAO">
  <!-- 예약완료 -->
    <insert id="reservation" parameterType="spring.mvc.uuplex.hotel.dto.ReservDTO">
    	INSERT INTO h_reserv(reservNum, roomName, memId, shopCode, reservDay, checkIn, checkOut, day, capacity, extraBed, extraBedcnt,
    	 laundry, breakfast, firstName, lastName, country, email, card, cardNum, cardEndM, totCharge) 
    	VALUES(#{reservNum}, #{roomName}, #{memId}, 102, sysdate, #{checkIn}, #{checkOut}, #{day}, #{capacity}, #{extraBed}, #{extraBedcnt},
    	 #{laundry}, #{breakfast}, #{firstName}, #{lastName}, #{country}, #{email}, #{card}, #{cardNum}, #{cardEndM}, #{totCharge})
    </insert>
	
  <!-- 예약내역 -->
    <select id="reservList" parameterType="String" resultType="spring.mvc.uuplex.hotel.dto.ReservDTO">
		SELECT * FROM h_reserv WHERE memId = #{memId}
	</select>
	
  <!-- 예약내역상세 -->
    <select id="detail" parameterType="int" resultType="spring.mvc.uuplex.hotel.dto.ReservDTO">
		SELECT * FROM h_reserv WHERE reservNum = #{reservNum}
	</select>
	
  <!-- 예약삭제 -->
	<delete id="cancel" parameterType="int">
		DELETE FROM h_reserv WHERE reservNum=#{reservNum}
	</delete>
	<delete id="calcancel" parameterType="int">
		DELETE FROM h_calendar WHERE reservNum=#{reservNum}
	</delete>
	
	<!-- (관리자)예약내역조회 -->
	<select id="adminCalendar" parameterType="String" resultType="spring.mvc.uuplex.hotel.dto.ReservDTO">
		SELECT * FROM h_reserv r, h_calendar c WHERE r.reservNum = c.reservNum AND reservDate=#{checkIn}
	</select>
	
	<!-- 예약 번호 받아오기 -->
	<select id="getReservNum" resultType="int">
		SELECT reservNum.nextval from dual
	</select>
	
	<!-- 예약(숙박일계산) -->
	<insert id="reserveDay" parameterType="Map">
		INSERT INTO h_calendar VALUES(#{reserveNum}, #{roomName}, #{resDate})
	</insert>
	
	<!-- (이용자)예약내역조회 -->
	<select id="reservFormCal" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM h_reserv r, h_calendar c WHERE r.roomName = c.roomName AND c.roomName=#{roomName} AND (reservDate=#{checkIn} OR reservDate=#{checkOut}) 
	</select>
	
</mapper>